
<div *ngIf="pronotype">
    <h2><span>Pronotype</span> {{pronotype.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Pronotype Name</span></dt>
        <dd>
            <span>{{pronotype.pronotypeName}}</span>
        </dd>
        <dt><span>Expiration Date</span></dt>
        <dd>
            <span>{{pronotype.expirationDate | date:'medium'}}</span>
        </dd>
        <dt><span>Points</span></dt>
        <dd>
            <span>{{pronotype.points}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pronotype/'+ pronotype.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
