
<div *ngIf="gamer">
    <h2><span>Gamer</span> {{gamer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Pseudo</span></dt>
        <dd>
            <span>{{gamer.pseudo}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{gamer.email}}</span>
        </dd>
        <dt><span>Points</span></dt>
        <dd>
            <span>{{gamer.points}}</span>
        </dd>
        <dt><span>Last Connexion</span></dt>
        <dd>
            <span>{{gamer.lastConnexion | date:'medium'}}</span>
        </dd>
        <dt><span>Winning Run</span></dt>
        <dd>
            <span>{{gamer.winningRun}}</span>
        </dd>
        <dt><span>Is Admin</span></dt>
        <dd>
            <span>{{gamer.isAdmin}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'gamer/'+ gamer.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
