
<div *ngIf="groupe">
    <h2><span>Groupe</span> {{groupe.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Group Name</span></dt>
        <dd>
            <span>{{groupe.groupName}}</span>
        </dd>
        <dt><span>Winner</span></dt>
        <dd>
            <div *ngIf="groupe.winner">
                <a [routerLink]="['/team', groupe.winner?.id]">{{groupe.winner?.id}}</a>
            </div>
        </dd>
        <dt><span>Second</span></dt>
        <dd>
            <div *ngIf="groupe.second">
                <a [routerLink]="['/team', groupe.second?.id]">{{groupe.second?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'groupe/'+ groupe.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
