
<div *ngIf="team">
    <h2><span>Team</span> {{team.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Team Name</span></dt>
        <dd>
            <span>{{team.teamName}}</span>
        </dd>
        <dt><span>Color Home</span></dt>
        <dd>
            <span>{{team.colorHome}}</span>
        </dd>
        <dt><span>Color Away</span></dt>
        <dd>
            <span>{{team.colorAway}}</span>
        </dd>
        <dt><span>Groupe</span></dt>
        <dd>
            <div *ngIf="team.groupe">
                <a [routerLink]="['/groupe', team.groupe?.id]">{{team.groupe?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'team/'+ team.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
